{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Nom</th>
            <th>Rôles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                        Super Admin
                    {% else %}
                        {% if 'ROLE_ADMIN' not in user.roles %}
                            <a href="{{ path('super_admin_promote_user', {'id': user.id}) }}">Promote</a>
                        {% endif %}

                        {% if 'ROLE_ADMIN' in user.roles %}
                            <a href="{{ path('super_admin_demote_user', {'id': user.id}) }}">Demote</a>
                        {% endif %}

                        <a href="{{ path('super_admin_delete_user', {'id': user.id}) }}"
                           onclick="return confirm('Are you sure ?');">Supprimer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
