<nav class="top-nav">
    <div class="nav-left">
        <a href="{{ path('app_accueil') }}">Menu</a>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <details class="collapsible-menu" style="display: inline-block; margin-right: 2rem;">
                <summary>Manager</summary>
                <div>
                    <a href="{{ path('super_admin_users') }}">Manage Users</a><br>
                    <a href="{{ path('app_football_player_new') }}">Add a Football Players</a>
                    <a href="{{ path('super_admin_create_user') }}">Create Users</a><br>
                </div>
            </details>
        {% elseif is_granted('ROLE_ADMIN') %}
                <details class="collapsible-menu" style="display: inline-block; margin-right: 2rem;">
                    <summary>Manager</summary>
                    <div>
                        <a href="{{ path('app_football_player_new') }}">Add a Football Players</a>
                    </div>
                </details>
        {% else %}
            <details class="collapsible-menu" style="display: inline-block; margin-right: 2rem;">
                <summary>Thing that we sell</summary>
                <div>
                    <a href="{{ path('app_football_players') }}">Football Players</a>
                </div>
            </details>
        {% endif %}

        {% if is_granted('ROLE_CLIENT') %}
            <details class="collapsible-menu" style="display: inline-block; margin-right: 2rem;">
                <summary>My Account</summary>
                <div>
                    <a href="{{ path('app_edit_account') }}">Modify my account</a>
                </div>
            </details>
        {% elseif is_granted('ROLE_ADMIN') %}
            <details class="collapsible-menu" style="display: inline-block; margin-right: 2rem;">
                <summary>Extra</summary>
                <div>
                    <a href="https://fr.wikipedia.org/wiki/Pong">Pong</a>
                </div>
            </details>
        {% endif %}


        <!-- Ce script permet d'assurer qu'un seul menu déroulant est ouvert à la fois.-->
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const detailsElements = document.querySelectorAll("details.collapsible-menu");
                detailsElements.forEach(details => {
                    details.addEventListener("toggle", function() {
                        if (this.open) {
                            detailsElements.forEach(otherDetails => {
                                if (otherDetails !== this) {
                                    otherDetails.removeAttribute("open");
                                }
                            });
                        }
                    });
                });
            });
        </script>
    </div>
    <div class="nav-right">
        {% if app.user %}
            <a href="{{ path('app_logout') }}">Disconnect</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connection</a>
        {% endif %}

        <a href="{{ path('app_cart') }}">Cart</a>
    </div>
</nav>